
.footer-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .table-page-button {
        line-height: 1.6;
        font-size: 16px;
        color:#9b9b9b;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}