.navbar {
    .list-navbar {
        margin: 0;
        display: flex;
        padding: 0;
        li {
            cursor: pointer;
            list-style-type: none;
            padding-left: 20px;
            &:hover, &:active {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}